@font-face {
	font-family: "xicon";
    src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABhwAAsAAAAAJRAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADsAAABUIIslek9TLzIAAAFEAAAAQQAAAFZHIVOTY21hcAAAAYgAAACvAAACpPLiSE5nbHlmAAACOAAAE6oAABzoeTW2R2hlYWQAABXkAAAAMAAAADYRIO93aGhlYQAAFhQAAAAYAAAAJAfKBAFobXR4AAAWLAAAABAAAABgWdgAAGxvY2EAABY8AAAAMgAAADJkKl28bWF4cAAAFnAAAAAfAAAAIAErAWFuYW1lAAAWkAAAAR8AAAHyCM/ZInBvc3QAABewAAAAvwAAARjkg1CHeJxjYGRgYOBiMGCwY2BycfMJYeDLSSzJY5BiYGGAAJA8MpsxJzM9kYEDxgPKsYBpDiBmg4gCACY7BUgAeJxjYGTexziBgZWBgamKaQ8DA0MPhGZ8wGDIyAQUZWBlZsAKAtJcUxgcPjJ+FGd+AeRGMb9mYATSIMwAAPUqC0YAAAB4nO3RWw7CIBRF0Y2l9VWtrQ8m4KdjcUB+OWVGoPdwHIYki50S2jQA9EAXHiFDepPQeMVqausdu7aeebY9Weu1fD4xJ83xnNu8ir05vjiwZsM23tszcuDIxImZhTMXrtwosX3gP0ZN6f57KjpRa2e8MtTOdFc1m0699qZ7rIOhrg11Y6hbQ92Z7rfuDXU0/V09GOrRUCdDPRnqbKiLoZ4N9WKoV0O9GWoxyhfFXDg2AHiclVl5sBxHeZ/ununuue+Zva/Z3Xn79mlXb89375NkS7L0JCRbkmULjC3A2MEJNoYqjrhAZWNMSFIooWxwkUASKlQgBgJUYePYwRRgYuyQpDBQnEnlHyCpSiUhVAWkJd/sIRmLVMV7zMx2f0cf3/H7egUkwIvsJ58V9gnCsNwZbKIWMhGNWiiONlF3Cw07RRQMhv1ePabxMm2hERr0obffRL6BmFdEBURjVokN5Nte8F28x07TnImz9cYGRYhuNOpZbOSpo4uf8tNIwyHuLxjmQh8eNJRKnb4BG3ZqLW0/54jGCzt1yXrSCEWEsJnWf1WcnjYxQmJoXPxrOy3AHH75S/IF8q/CM4KQjIYFLAgLKAwYZQaK63F92B/Uk3tM2Qs7hgOYTA+a4XfCAbekY5C0b0F/GwGVDCsyTJgprAv0Ahe8t0BKCGTzdngPJh2DIOkY1uP/q2fCC7rCWRv0mzDqcE404WDhFiJDGxdDyqsFSxdlLnJuUglhjpFkebrlLliGikWdq5pJ4KUjIqmGUmvKVJEIzVmOa3JVzyCGiazinYeHqDb+255ZlRyPUgUtFDOwhV6mWTE8W7fSNc2yKTfQcKGcyYrFXLS+aAcWVwebmmF5lFtooxll8zQq1reXnMAs5iolotodR5clXqzrEmPIspR0lqq0nC6X/FRQxEG9X9+i1iJp6Z0ltthxPNV1dh1crC6o+WyttQ/bsmhpnB48oGuevXTVQlSTc9nq0jayuaSrZn9RVwzPilfK2YK4XKr1kMGoY+E9CyX02Phk82OvwpwgUUPNtB/auWx2l8uRJNHVvqXJhHBUsQyJOqnAi2QRBsa3GjBXTcQM5XWFECdw7YKEuZ4pW9y1UoahVF2xeSTLNRrU01axLMo0CvKuSiWicb0ULjKHC8LUbx4j3xdiQXC7/ajf7fcG3XInyKOuH/nzr0ejcqW+iZL+aPP8+fNpBxMnc37yyjgXLzppeMDN++54yEmnnYfuuO+Oe+eP94IKPNHzLXK/wIWDglCL7chm/WGYeGa3EyaXQmJNvmegJoq7/S0EjhoN+r0Wiirgn8mN5pOLF3T9LosqLdTbQviZ87ec/+JTF5/ZpFe3yrnCWw/tef1VYueq+p76b7V+rz4Y1E3cPzNYPrlC9cV0vHJTPBzGz7b+pL5dr2//9/nxk2jv+bueegoNdm1Ye46N7tiWj/bi7XoLocGRAbLswZn+rpe1vXAl5sMjQ9Sqbx/ZU4OpSJP5/JD8uXCncE54r/BJ4Sswq9bESWPws8Hwkq9M5jXxBfAPI5nBxDnhElWAFjOIFoUkGo0Swm4nSCIR+Nawl3gY7MYIzeWA4/neVBRIIEAzSLQlP8ICHg6S4Naaaiggd+K6IAMnwhIBeCIDVINzJEMdzCJAtzMbEEVv2Xlgt6fIRqyUwqVmN1dfyNWP5/I1J+UQ2fKphBFBRK8qJYP7WVVhWESs2g4LNWzr6xluSoajHtIpZbJ/sGCmCDOclEhFsHYiSQphEO8wA0M7Unnz56ycpKhWuDHUwdaVRue/+rqp5536gEjxniIP24oiZ4olX+UFR1ck1Q48ZhIatDLOyz6qZCUQ6H1oJVuM3ZIYtT+wmNPMvfr+jmeo6Zc9c2Jrc73puj7nWOGwcmv1qL+e9xpGRrXV9EroQPyxxVRFY3JrPZMKOaHg+ZIryWpOc1nVVmBsDV2m4GOMQLSyZU3luQxXzXqx5HAJfYIXTG/dDcDR9baRKrG/zKwFJV1Xl6qVoTd+DaaahBmndqWSLmNClHzeoFgmvFRRJOmdUlbRC3r+4V6QcVf6Bz6W90RJIBO7ep7swJMqmEkus8sIPKUf94uJR6bJ4xeuRpWPv+1tH2++731fxvePD7x57w46vu+e24aX7PJp8qywLJwV/lD4kvAN8OvIlIq8O+L9Ee6OWL/NJZP50FJUk8a25MJPE0fTxpHU5tGEQEo6edRWIxcCAmTFSRDo273BY2hhoZxSMcIiLJosy7BTMmdUJBhZn06eOcQZsBWRQrcio40rmt6j2lN2zhNuhQO7BCHQzlUXP/T8ZWnvu1LaexovUn7ha7/C/sSVLH8hO+SytofRWLUsdYzhSp6lTq4Wf/NKni/KLiGiRDlXXjg/LFI6GzM0SaAU21+4kvux2kIlZeCLn5w3vPfXipso/8iV7Oen7L9Om/nwZfIHLfXiz5O5YKpal/b/XeRdQkvYEn5T+KDwNQjyRdhesS2PYHNVt5vEdo82URLPewNk8qI4tYqojfptFqERb4szYygiv8i6tTYfid1ECo9M5JtAczJZb0mEHO6VGvczDq4jiQQhRMDPKfx+kwtDTebL4EfrPyXOpeSCCoxRKgIjosD5Tg4OQkEOzBQYGRDf7UpzPj5+9KVQo4MvhZrcNx/q3VGcs/Cl0QLbTIz225cnNv4Zk36WRAi4IOWSwEqcN3HyC7YpYU3ICUHKPZeUX/j+SyBGL4E22WpxloeeBn8/KvwZ+LuAJgkmwWxdOsOHU2Q2SQMJJOwOozn264QACV06yyk0QXaQGqaU3QqjcT2cdISQlSaNCUUQTqnbaC551j5JKHU2Vwv97VkqDBMgOemYZKUhZcsFNEk6JlB0k+w2nCa64QThol/2b8ntVmRHWjkucUvTd1YoF/GgsL+8er3FKRFTrzjwR7A63FTqfja7Q5abuqdIg6imWs2hrA2HuzW2XPd2AZrURF7NZWQsMghrmGKI9BIG31cMblhMFSE30YqzGRRzqmw4ekErSchWGaw2UYjEJNnAVOe6xVnfcjwbMIqjyroj/8SJNlqB0q4YZUCNBASbTPPVTiXSnHgAaPYr3ea+OxDlg8aJPz221fQQF1HblDTnxrV8Ldj1vX3pTqpRsCykHkBs/IhocbG5ur7n1Cev1ozhxoeODW6peRUwCevjuKpqhsIkLLoiDEyVSLhghKotJxkVMlTJF52glTNDnUlKkFZdMF6KJVGSDNmuMcWXLYbZUBVFpgZmJmsEqvQpO9r32euXjpeMtAqOK3ImMlte7K9snPrUfssW6MS2niSPCinUQBtoPzqEToB9dQqiZ4iVltjbEt0OwIu43oOtA0QBdpMAkHg4RTrxkNFKC/eHYAYt1B+2UdAZxsN6wjJCncl+AzUAID800CJiMfQCfukPJ6APs04Bd4d9aBwk8LCIhoBhACAmwhMOFjKfDQHu+ICL4hBKOMhQjHY7INALEsjIwrie0HtBZzBMGAZgx2C+cRi0EQwtZh6gonoyEkCa4jCeFEwJjJpAUhAY+KyIYcY+C2BAnoGjOKBx8lxApJO4Baskhl4xUS+aOFQC8eItVPNYN5xUXqACi5t3nj2+WiqtHj9751svP24u33TiQFaVELwVyGjw0lIylqgqqZQhnamWrUFIZRCaFBFRbEGzFSg4T/W8VTR0o2BrTAdM4Xq+At51WAr01MKpXbVrrh5lNU1RFWoA5Me6oYiaZSiuoRiyxZW07CkoJhBgQCXUo7IIQC4BkjpcU7YrmxwKDqLl0poI41EcbnPFiIDYMorFvEryvUMtwDQUSg5DgaRFRKhLCJJZ2sUs5shSKM8Wy2nbxIqbNRJ3cRCYqqjoUtj6msQMQzOYBiUemDAh1sg2qUblBE8+j6QMpTBtKivk0dLasbN3veXFq3fhy+nW3kZGLyh5anpQY0GVhBj4AoYADy6PKYdVhYgOPiAiHWOeC1KWqVNwJyyCvrwhiVAbcY2JZloNNU0UPd/MNTKqoUoyYB9YdGprADE1DbAerD3UrZrELA0lYRkSNeiCMQKcpYbGDGbZyToiSl3D5qLsKJgpsiuL3IPskU2iR6v/6tMH0zIshCwbhWIxG8iEQi0HQ1BEbGtYg4gjyuDAlh/4shmkDE3mnqMZSMKyD+CXUvQkgiiGJJghuD0hLgQdeH9dRDVZtkUCNjBJCXjmu98U9grvBJ8dxi3Si+uz8qQ3dSh/GsxfUFVMC5S43u9tXaph+kmikJLyodsZDnr1mZR6r4Xbs0zRm9Fu4T4oAYecnRcw6ntTBWSnWs0UPDkp4X0zIxtMLS1uVcGqfTfrypKz4Pqw+QQd3s5pClNo1gwUGfIho9HFtwHqiUaLRZUbcsb0VZlg2Sumq9VqBE4CewshLUuBS8ttH8YYQ+3hLdiSDJJ99N0wtMrLB16bLds+5A1sV7la3mx8xm+kfEtTqJtS015Qzg/Oja6BfKM5LDG80ClmOgfjqHub99mFzbLKqzbGVPbtUu7Wg7srVhgG3Sg+0M0UnZAzMD1g5OqhrXPDfCl002rKpYpmBeHlHP0t8lWofW3hDcLzsB8erdR7g04gzR8QrDrAsbg/2Ey2J1xHRcmHDcG7lyfJF/LjchKcYM37I9oNoWhOYFzoQ1GcbF4UBrDqg8miw+5EsEEjHHevFNKZC5HWEexnoq2faIYYFsW/IqSNpkIiSNyJEn+iEDazi86VlorFpRI6Pr2P9WL2msOHb3ecI1sjAFE0cQvFwSJ3wX9sm0N0kEghcTwmSo38R2zzNYcPn9Hdp01FDRAkVy8fJHZeM00TqdHQmwuBIiERIuuXhRAxEfID3y7s32+Jfuarv1bGyaM5Pw0ElNsOLgTF4q5iMZzexu/Xs698x/ViX7zhnrttCHsQNJgpQrJMNzQNgiuYG4KAxvP8Bkll0iRGEufOc6fEvnT6ntcFElnKbXpY0iQDWAn3mgslnFsDKoAjMzlqoCQ+msTFPLuBKgBeEqsdvP2Mj90z9+z2RQ0t5TcSKVQHFE0YmojJQgbwly9RQUqe1YT/SJ4SrhGuFc5ATRhNoHvU7yQAfh0lJT2d1PYTd5zuXLeAYLu6fmUK9id5L4BUCzub1P5AOUJukhd79QqV5g//g244trp67IbHEdaJhnAzbmYMC0IMkiyGnj6xs7q6c+IJMHeIOwR7hcAPdnUwMkQDob+rrtaqK/Xxm+FeW6l9Z++pV+8cvfaVpw9ilpPLmUpDFG05b+q6bOxyKDpw6uzxo0dvPr2Xuj1bsQy74okiEXfHhbpShi14U6FWXa3XstMbLIE8WYd/Jt+GutgVQiErFIVIiIWm0IYaF1CA7QXdcmcABWo9kvxy/4VfFNld8oLvP7jZrIuvT64X/oM8fWH18nc83rfvHfMP2co4F7/kZDIO3nAyt+/d+475B997YYV89fJ3dpb2PXKLUE5QUpCUy355fu9XWmh6frYMwbVb9skfQwRLjy8iMr2P/719vPXoo+3jbWThH1a71e9Ue9VzqHe61/23Xu9091wifqrj78kqzDxBYigc2uVhEtMrCeb2YI8hGkAIhyA/icnoM6cefEPhw+M3PuCtLP7GnbctNJrNhuNkgpS3OhqtbuwcIqubb9r76Hj7g6dXFpaWFhZve+PtDafneN7qQx99/+p6sXA5nzxPzoM1LoLmsl0mIYuGlfmB1zRfgLnNDrdmiaUb4ydQavyjH3/+84/fdF28t9nNF13TPn5g/cbBXQcrq/VdXU3hlpkOyu7iTehvxj9C+4FSZGFusPZXJ298fTbk4uOYqHq3Wb8ul9ZVgl+RDGUyqI+Qj8LIJucktbiG5kbsdu0I/eLT6MbxT1eOr8Cn/Pa3//SCOD6/AKa9uop/Pm5cntPnyJdA2tJ0Tu4wjsLKvBqaZ8du/8XTZPhe1B0/d/S555679d3bdxw4ubvjOKbdWjq65+zGPcfqW4vLuYKn6XtW2webZ25FLx8/ixHQSjxd2Bi96qabz442ChkuPodF1czlzyy1Vg1NxK+djWmDfOPymABhztc5qZxmWfnySs8OBrsx+ickjX/xiUce+cT1N7d2OhvlqqbrWrW80dlp3byWbRWqDSgjeaNaaGXXrsdfH1+4HkglOV+5av+dr3vd6w/si3Ky9Aihtnfdvu09e6/zbYmcmq0T/jF5AvJXPsld82X2p9bGYlKLE6DQgxVCxwaH+/3Dg4dGlWoUbY5OodLoRHu5XHojFur9/k6/jx58sHdo52OHr+kfG//EP7b/7K13vfzUtffPzy5+QN4j/L7wB8KDwgeEfwFtQUjn2KQ3yUiTA8/JGyJbktNg9nPAkSzEJNDBZR1VlqHKGCbXeWk5rX8HbDBrSoLgpDFerk/D5vQIdw5oBvFEMVxg4SeKd3f9ePdyF3kVt8JeFHcT3lkbnpTXICqYHLjSWciFxD7926aAL3GQKuAZTyt6UKKpgejUKsWtd5/rr1Tyuo2IGEDlqXKsSTLlEvWNjNJs1vrpkiOibzewhNSwUqG2bGqmwhUqJf8tQUqS0zqVAVK7dHKoAOkFmw7Ske9Tapmi6kmKrsmSRNK+60Gaoib9HchfF59BPzfMrduyWU63Wrv7zf22w6RmsVLNthSoI/JLqYwlQz0hGYR49bC4Vhep5xxsDjq7twFQYwDjro5ViR9Z3yInh9v5ohOFmmen1xZ53GqkO+V6Y2nUawxXCpxlS9fmHU+SEJO47ti+CoPlZFaRJNkUQLYkq46RMQyVIEWX/fShhhWUfTmtyYC6TZ1bJG8Rjj2OCQ+y1C7qIRN1btCrUkGpmQl9x7+I0Bhqj+swPznae83G2XRGZutLrc7CtmUx2sgXK5mGy3jaqNiAof1Mu0Sk0mZtedfiGmX53O2j5qIaWBK31ZWVYw/EjSvjcPIHRWyX42TPO8lZhgcWA1AJAPPkfwx44+7JB+8ufBj97gP+sHn7XbfFi/BynKyf8ta2ttbW/39x+H8B/BGeFAAAeJxjYGRgYABi7cfhvfH8Nl8ZuJlfAEUYrguEhiDo//+ZHzK/BnI5GJhAogA8JQuEeJxjYGRgYH7BwAAnHzIwMqACCQBEzQLVeJxjYGBgYH5BOwwA4SUVHgAAAAAAYgGcAdACOANkA4QEhAV8BqoIiAlOCm4K8gtCC3QLsAv4DBoMZAyuDOIOOA50AAB4nGNgZGBgkGAMZeBkAAEmIOYCQgaG/2A+AwAUCAGOAHicXY69TsMwFIVP+odoEAIhMZulC1LSduwDtDMduqeJ0x8lceS4VSsxM/MUzDwFz8WJeyUqbOn6O+ceXxvAA34QoF0B+r62q4Mbqgt3SXfCPfKjcB8hnoUHVC/CQ7xiJBziCW+cEPRu6QyRCXdwj0q4S/9duEf+EO5z+qfwgP6X8BArfAuHGAWD0y411VJvDkViPfuy0rbZmUpNorHXC11pmzidqfVZNcfN1Llc5daUam4qp4vCqNqavU5dtHWunsVxLn6UmhIn7JDC8NdLaGxwQIEE9sr/oxUTFg11qxQmiDC+6i/Yr3wmgeOZMbPGmbXBkbOndB1y6pwZg5I09zfbdMFt6NS+t6eT0o+w9bdqzBBz5//ykX+7/AVV81OKAHicbY3ZTsMwFEQ9abYmhKVs5fMS+zY1ufG1vCDx9zRFFS/M0xmdkUYV6jed+j9HFNihRIUaDVrs0aHHHQbc4wGPeMIBz3jBK97wjiM+VD2x6CXupjyX+mx9r1myyZ5lNJUWltBrWdfRGbaOulNmjjoQucMfXmY8+kjtKTudrLhqZpmo+IzNEmn16bte4jbfr1YH2W5Kz5fDQEbamMhbl2S4Adv5nJqtSU5XLV8UhhtcdZ1ySExldkaU+gGf9UsIAA==) format("woff");
}

.xicon {
	
}

.xicon:before {
	font-family: xicon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.xicon.blocks:before {
	content: "\f101" !important;
}
.xicon.bug:before {
	content: "\f102" !important;
}
.xicon.chip:before {
	content: "\f103" !important;
}
.xicon.cloudupload:before {
	content: "\f104" !important;
}
.xicon.color:before {
	content: "\f105" !important;
}
.xicon.commandline:before {
	content: "\f106" !important;
}
.xicon.fullscreen:before {
	content: "\f107" !important;
}
.xicon.fullscreencollapse:before {
	content: "\f108" !important;
}
.xicon.function:before {
	content: "\f109" !important;
}
.xicon.globe:before {
	content: "\f10a" !important;
}
.xicon.js:before {
	content: "\f10b" !important;
}
.xicon.ksempty:before {
	content: "\f10c" !important;
}
.xicon.ksfull:before {
	content: "\f10d" !important;
}
.xicon.microchip:before {
	content: "\f10e" !important;
}
.xicon.plug:before {
	content: "\f10f" !important;
}
.xicon.redo:before {
	content: "\f110" !important;
}
.xicon.stepinto:before {
	content: "\f111" !important;
}
.xicon.stepintolight:before {
	content: "\f112" !important;
}
.xicon.stepout:before {
	content: "\f113" !important;
}
.xicon.stepover:before {
	content: "\f114" !important;
}
.xicon.stepoverlight:before {
	content: "\f115" !important;
}
.xicon.turtle:before {
	content: "\f116" !important;
}
.xicon.undo:before {
	content: "\f117" !important;
}
